@import "../../base.scss";

.header {
  display: flex;
  justify-content: center;
  // margin: 0 2rem;

  //position: relative; // to show absolute mobile nav

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
  z-index: 30;
  background-color: $color-highlignt-light;
  transition: all 0.25s ease-in;

  .inner {
    height: 110px;
    width: 100%;
    max-width: 950px;
    margin: 0 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
  }

  .menuBtn {
    width: 50px;
    color: $color-green;
  }
}

@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
