@import "../../base.scss";

.header {
  display: flex;
  justify-content: center;
  margin: 0 2rem;

  //position: relative; // to show absolute mobile nav

  .inner {
    height: 110px;
    width: 100%;
    max-width: 950px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
  }

  .menuBtn {
    width: 50px;
    color: $color-green;
  }
}

@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
