.header {
  display: flex;
  justify-content: center;

  .inner {
    height: 110px;
    width: 100%;
    max-width: 950px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
