@import  '../../base.scss';


.button{
background-color: $color-yellow;
@include font-Karla;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #000000;
padding: 13px 20px;
border-radius: 5px;
border: none;
outline: none;
width: 200px;
height: 50px;
}