@import "../../base.scss";

.specials {
  width: 100%;
  padding: 90px;
  display: flex;
  justify-content: center;

  .inner {
    width: 100%;
    max-width: 950px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;

      .title {
        @include font-Markazi;
        font-size: 60px;
        line-height: 72px;
        color: #000000;
      }
    }
  }
}
