@import "../../base.scss";

.form {
  border: 2px solid $color-yellow;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 330px;
  padding: 20px;
  border-radius: 8px;
  background: rgba($color: $color-green, $alpha: 0.9);

  .title {
    color: $color-highlignt-light;
    text-align: center;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 1;
    color: $color-highlignt-light;
    font-weight: bold;

    .input {
      border: 1px solid $color-yellow;
      &:hover {
        cursor: pointer;
      }
    }

    .input[name="numberOfGuests"] {
      width: 100px;
    }
  }

  .submit {
    background-color: $color-yellow;
    color: $color-green;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border-color: $color-green;
    }
  }
}
