@import "../../base.scss";

.about {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 40px;

  .inner {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 950px;
    height: 620px;

    .text {
      width: 370px;

      .title {
        @include font-Markazi;
        font-size: 75px;
        font-weight: 700;
      }

      .subtitle {
        @include font-Markazi;
        color: $color-highlignt-dark;
        font-size: 60px;
        font-weight: bolder;
        margin-bottom: 1rem;
      }

      .description {
        @include font-Karla;
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
      }
    }

    .images {
      .image1 {
        position: absolute;
        top: 0;
        right: 0;
      }

      .image2 {
        position: absolute;
        bottom: 50px;
        right: 180px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .about {
    .inner {
      .images {
        .image1 {
          width: 250px;
        }
        .image2 {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .about {
    .inner {
      .images {
        .image1 {
          width: 200px;
          top: 70px;
        }
        .image2 {
          width: 200px;
          bottom: 100px;
          right: 140px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .about {
    .inner {
      flex-direction: column;
      height: 800px;

      .text {
        width: 100%;
        text-align: center;
      }

      .images {
        position: relative;
        .image1 {
          top: 30px;
          left: 120px;
          margin: 0 auto;
        }
        .image2 {
          top: 190px;
          left: -120px;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .about {
    .inner {
      .text {
        .title {
          font-size: 55px;
        }

        .subtitle {
          font-size: 40px;
        }

        .description {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}
