// @font-face {
//     font-family: "Karla";   /*Can be any text*/
//     src: local("Karla-VariableFont_wght"),
//       url("../../assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
//   }

@import  '../../base.scss';


.nav{
   @include font-Karla;
    font-weight: bold;
}

.list{
    list-style: none;
    display: flex;
    gap: 1.5rem;

}

 .item{}

 .link{

    color: black;


    &:hover{
        color: salmon;
    }
 }

 .activeLink{
    color: salmon;
    text-decoration: underline;
 }
