@import "../../base.scss";

.card {
  @include font-Karla;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 30px 1fr 1fr;

  width: 230px;
  height: 230px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 1rem;

  background-color: #fff;

  .rating {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-self: end;
  }

  .avatar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    width: 75px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .names {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
    align-self: center;

    margin-left: 25px;

    font-weight: bold;
    font-size: 12px;
    .name {
      color: black;
      margin-bottom: 0.75rem;
    }

    .nickname {
      color: $color-highlignt-dark;
    }
  }

  .review {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    margin-top: 30px;
    font-size: 12px;
    color: $color-green;
  }
}
