@import "../../base.scss";

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  background-color: $color-second-light;
  padding: 110px 0;
}

.list {
  display: flex;
  gap: 50px;
}

.arrow {
  cursor: pointer;
}
