@font-face {
  font-family: "Markazi";
  src: local("MarkaziText-VariableFont_wght"),
    url("./assets/fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Karla";
  src: local("Karla-VariableFont_wght"),
    url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
}

@mixin font-Markazi {
  font-family: "Markazi";
}

@mixin font-Karla {
  font-family: "Karla";
}

$color-yellow: #f4ce14;
$color-green: #495e57;

$color-second-light: #fbdabb;
$color-second-dark: #ee9972;

$color-highlignt-light: #edefee;
$color-highlignt-dark: #333333;
