@import "../../base.scss";

.footer {
  @include font-Karla;
  padding: 110px 0;
  // position: relative;
  // top: 110px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: $color-green;

  color: $color-highlignt-light;
  font-size: 20px;

  .inner {
    display: flex;
    justify-content: center;
    gap: 100px;

    width: 100%;
    max-width: 950px;

    .logo {
    }

    .info {
      margin-left: 70px;

      .socials {
        margin-bottom: 35px;
        display: flex;

        a {
          margin-left: 0.5rem;
        }
      }

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        a:hover {
          color: $color-yellow;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 90px 30px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    .inner {
      gap: 70px;

      .info {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .inner {
      flex-wrap: wrap;
    }
  }
}
